---
layout: workshop_homepage # DON'T CHANGE THIS.
venue: "University of Arizona"
address: Online
country: us
language: en
latlng: -48.876667,-123.393333 
humandate: Jun 8-9, 2016
humantime: "09:00 - 16:00"
startdate: 2016-06-08
enddate: 2016-06-09
instructor: ["Greg Wilson"]     # list of names like ["Kay McNulty", "Betty Jennings", "Betty Snyder"]
helper: ["Uwe Hilgert", "Jeffrey Oliver"]
contact: "gvwilson@software-carpentry.org"
etherpad:                 # optional (insert the URL for your Etherpad if you're using one)
eventbrite:               # optional (insert the alphanumeric key for Eventbrite registration, e.g., "1234567890AB")
---
{% if page.eventbrite %}
<iframe
  src="https://www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt"
  frameborder="0"
  width="100%"
  height="248px"
  scrolling="auto">
</iframe>
{% endif %}

<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  and <a href="{{site.dc_site}}">Data Carpentry</a>'s mission is to
  help scientists and engineers get more research done in less time
  and with less pain by teaching them basic lab skills for scientific
  computing.  This hands-on two-day workshop covers the basics of
  educational psychology and instructional design, and looks at how to
  use these ideas in both intensive workshops and regular classes. The
  workshop is a mix of lectures and hands-on lessons where you practice
  giving a short lesson using approaches learned and implement some of
  the teaching techniques which we will discuss.  This is training for
  teaching, not technical training; you do not need any particular
  technical background, and we will not be teaching that. This workshop
  is based on the constantly revised and updated
 <a href="{{site.swc_githubio}}/instructor-training/">curriculum</a>.
</p>

<p>
  <strong>Who:</strong> The course is aimed at everyone who is
  interested in becoming a better teacher. In particular, this training
  is aimed at those who want to become Software and Data Carpentry
  instructors, run workshops and contribute to the Carpentry training
  materials.  You don't currently have to be an instructor or a
  teacher to attend this workshop, but you do need to be willing and
  committed to becoming one and to improving your teaching techniques.
</p>

{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{page.address}}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{page.latlng | replace:',','&mlon='}}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{page.latlng}}">Google Maps</a>.
</p>
{% endif %}

<p>
  <strong>Requirements:</strong> Participants should bring a laptop
  that is Internet connected and has a functioning browser.  If you
  have it, a device for recording audio and video (mobile phones and
  laptops are OK) is useful as throughout the two days, we are going to record
  one another teaching in pairs or threes.  It does not have to be
  high-quality, but it should be good enough that you can understand
  what someone is saying.
</p>
<p>
  Please also read the
  <a href="#preparation">Preparation</a> section below.  You will also
  receive some further information before the workshop so please check
  your email.
</p>
<p>
  All participants are also required to abide by
  Software Carpentry's <a href="{{site.swc_site}}/conduct.html">Code of Conduct</a>.
</p>

<p>
  <strong>Contact</strong>:
  Please email
  {% if page.contact %}
    <a href="mailto:{{page.contact}}">{{page.contact}}</a>
  {% else %}
    <a href="mailto:{{site.contact}}">{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<h2>Schedule</h2>

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr><td>09:00</td><td>Welcome: key concepts and training goals</td></tr>
      <tr><td>09:30</td><td>Novice mind-set; formative vs. summative assessment</td></tr>
      <tr><td></td><td><em>Exercise: multiple choice questions</em></td></tr>
      <tr><td>10:30</td><td>Coffee</td></tr>
      <tr><td>10:45</td><td>Lesson study; giving feedback</td></tr>
      <tr><td></td><td><em>Exercise: video recorded teaching</em></td></tr>
      <tr><td>11:45</td><td>Morning wrap-up (minute cards)</td></tr>
      <tr><td>12:00</td><td>Lunch</td></tr>
      <tr><td>13:00</td><td>Concept maps</td></tr>
      <tr><td></td><td><em>Exercise: draw and critique concept maps</em></td></tr>
      <tr><td>14:15</td><td>Coffee</td></tr>
      <tr><td>14:30</td><td>Learning objectives</td></tr>
      <tr><td></td><td><em>Exercise: write and critique learning objectives</em></td></tr>
      <tr><td>15:15</td><td>Cognitive load</td></tr>
      <tr><td>15:30</td><td><em>Exercise: faded example</em></td></tr>
      <tr><td>15:45</td><td>Wrap-up (one up, one down)</td></tr>
      <tr><td>16:00</td><td>Close</td></tr>
      <tr><td></td><td><em>Homework: read operations guide</em></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr><td>09:00</td><td>Live coding demonstration</td></tr>
      <tr><td></td><td><em>Exercise: live coding practice</em></td></tr>
      <tr><td>10:15</td><td>Coffee</td></tr>
      <tr><td>10:30</td><td>Review questions about operations guide</td></tr>
      <tr><td>11:15</td><td><em>Exercise: create workshop website</em></td></tr>
      <tr><td>11:45</td><td>Wrap-up (minute cards)</td></tr>
      <tr><td>12:00</td><td>Lunch</td></tr>
      <tr><td>13:00</td><td>Data Carpentry</td></tr>
      <tr><td>13:30</td><td>Motivators and demotivators</td></tr>
      <tr><td>14:00</td><td><em>Exercise: demotivational stories</em></td></tr>
      <tr><td>14:30</td><td>Coffee break</td></tr>
      <tr><td>14:45</td><td>Assessment</td></tr>
      <tr><td></td><td><em>Exercise: formulate assessment plans</em></td></tr>
      <tr><td>15:30</td><td>Checkout procedure</td></tr>
      <tr><td>15:45</td><td>Wrap-up (one up, one down)</td></tr>
      <tr><td>16:00</td><td>Close</td></tr>
    </table>
  </div>
</div>

{% if page.etherpad %}
<p>
  <strong>Etherpad:</strong> <a href="{{page.etherpad}}">{{page.etherpad}}</a>.
  <br/>
  We will use this Etherpad for chatting, taking notes, and sharing URLs and bits of code.
</p>
{% endif %}

<hr/>

<h2>Syllabus</h2>

<p>
  Please see <a href="{{site.swc_it_site}}">the course materials website</a> for course material.
</p>

<hr/>

<h2 id="preparation" name="preparation">Preparation</h2>

<p>
  Please read the following before the workshop begins:
</p>
<ol>
  <li><a href="{{site.swc_it_site}}/papers/porter-what-works-2013.pdf">Success in Introductory Programming: What Works?</a></li>
  <li><a href="{{site.swc_it_site}}/papers/guzdial-10-myths-2015.pdf">Top 10 Myths About Teaching Computer Science</a></li>
  <li><a href="{{site.swc_it_site}}/papers/science-of-learning-2015.pdf">The Science of Learning</a></li>
  <li><a href="http://f1000research.com/articles/3-62/v2">Software Carpentry: Lessons Learned</a></li>
</ol>
<p>
  Please also go to the <a href="{{site.swc_site}}/lessons/">Software Carpentry lessons page</a>
  and the <a href="{{site.dc_site}}/lessons/">Data Carpentry lessons page</a>
  to have a look at what we currently teach.
  You are not expected to go through these in detail,
  but it would be helpful if you knew what the major topics are.
</p>
